.games-page {
  min-height: 100vh;
  padding: 96px 52px 138px 32px;
  background-color: #f0eeff;

  background-image: url("/images/somegame.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  /* background: radial-gradient(ellipse 45% 55% at 0% 15%, rgba(236, 72, 200, 0.55) 0%, transparent 65%), radial-gradient(ellipse 50% 70% at -2% 55%, rgba(139, 92, 246, 0.6) 0%, transparent 60%), radial-gradient(ellipse 60% 80% at 105% 50%, rgba(196, 181, 253, 0.25) 0%, transparent 65%), #f0eeff; */
}
@media (max-width: 768px) {
  .games-page {
    padding: 20px 0 123px 36px;
  }
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (max-width: 1150px) {
  .games-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 14px;
    gap: 12px;
  }
}
@media (max-width: 820px) {
  .games-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 14px;
  }
}

@media (max-width: 600px) {
  .games-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 14px;
  }
  
}